<%= flash[:warning] %>

<title>Your Bookmarks</title>
<h1>Your bookmarks:</h1>
  <ul>
    <% @list.each do |bookmark| %>
    <li>
      <a href=<%= bookmark.url %>><%= bookmark.title %></a>
      <form action="/add_comment" method="get">
        <input type="hidden" name="id" value="<%=bookmark.id%>">
        <input type="submit" value="Comment on <%=bookmark.title%>">
      </form>
      <% @comment_list.each do |comment| %>
        <% if bookmark.id == comment.bookmark_id %>
          <%= comment.text %>
        <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <form action="/bookmarks" method="post">
    <h3>Create new bookmark</h3>
    <label for="title">
      <h4>Enter website title here:</h4>
    </label>
    <input type="text" name="title">
    <label for="url">
      <h4>Enter url here:</h4>
    </label>
    <input type="text" name="url">
    <input type="submit" value="Add">
  </form>

  <!-- <div data-alert class="alert-box alert round">
    This is an alert - alert that is rounded.
    <a href="#" class="close">&times;</a>
  </div> -->
