<%= flash[:warning] %>

<title>Update Bookmarks</title>
<h1>Current bookmarks:</h1>

<form action='/update' method="post">
  <% @table.each do |bookmark| %>
<input type="radio" name="id" id=<%= bookmark.title%> value=<%=bookmark.id%> > <a href=<%=bookmark.url%>><%=bookmark.title%></a><br />
<% end %>
<p>
  <input type="submit" value="Update">
</p>
</form>
